<div class="bg-warning p-2" *ngIf="checkProduct; else trueproduct">
  <h1 class="text-center bg-center bg-blue"><i class="fa fa-cart-plus cart cart-empty" aria-hidden="true"></i> &nbsp;&nbsp;is &nbsp;Empty</h1>
  <div></div>
</div>

<ng-template #trueproduct>
  <div class="bg-warning p-2">
      <h1 class="text-center bg-center bg-blue"><span style="color: red;">{{productName}}</span> is in Cart.</h1>
  </div>
</ng-template>
<div class="bdy">
  <div class="container" *ngIf="!checkProduct">
      <h1 class="shop-head">Shopping Cart</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Price (₹)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>01</td>
              <td>{{productName}}</td>
              <td>{{productPrice}}</td>
              <td><button class="btn btn-danger" (click)="removeP()">Remove</button></td>
          </tr>
        </tbody>
      </table>
    <button class="btn buy-now" data-toggle="modal" data-target="#myModal" (click)="buyNow()"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp;&nbsp;BUY NOW</button>

    </div>
<div *ngIf="checkProduct">
  <a routerLink="/"><h1 class="text-white text-lg-center">Go to HomePage</h1></a>
</div>
</div>
<div id="myModal" class="modal fade" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Notice!!</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Currently we are not accepting orders for Covid19. Sorry for the inconvenience.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

