<div class="bdy">
<div class="side-nav">
  <ul>
<li>
  <div class="user-view">
  <img class="circle user" src="../../../assets/images/dashboard/TarunGhosh.png" alt="">
  <div class="ml-3">
    <span class="white-text name ml-4">Tarun Ghosh</span><br>
    <span class="white-text email">tarun7mandal@gmail.com</span>
  </div>

</div>
</li>
<li><a routerLink="/"><i class="material-icons">home</i>Home</a></li>
    <li><a routerLink="/user"><i class="material-icons">store</i>Products</a></li>

</ul>
</div>

<div class="header">

 <div>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img class="circle" src="../../../assets/images/dashboard/products.jpg">
          <span class="card-title">Products</span>
        </div>
        <div class="card-content">
          <p>Product Section</p>
        </div>
        <div class="card-action text-center">
          <a routerLink="/user">Check</a>
        </div>
      </div>
    </div>
  </div>
 </div>
<div class="mid-body">
<p class="text-center">Welcome to Dashboard, Tarun !</p>
</div>
</div>
</div>




